@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Red+Hat+Display&family=Cormorant&display=swap');

@media screen {
    
    /* Textstorlekar---------------------------------------------------------------------------------------------------*/
    h1{ font-family:"julius sans one", "red hat display", sans-serif;font-size: 55px; font-weight: bold;
        color: white;}

    h2{ font-family: cormorant, "red hat display", sans-serif;font-size:27px;
        color: white;}

    h3{ font-family:"julius sans one", "red hat display", sans-serif; font-size: 27px ;
        color: black;}

    h4{ font-family:"julius sans one", "red hat display", sans-serif; font-size: 22px ;
        color: white;}
    
    h5{ font-family: "julius sans one", "red hat display", sans-serif; font-size:22px;
        color: black;}

    p{ font-family: "red hat display", sans-serif; font-size:18px;
       color: black;
    }
    h6{font-family: "red hat display", sans-serif; font-size:18px;
        color: white;}

     /* Layout av grid ----------------------------------------------------------------------------------------------------*/
     .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr; /* 7 kolumner */
        grid-auto-rows: auto; /*  rader */
        gap: 2px;
        min-height: 100vh;
    } 

    
    /* Hamburgare-meny och sidrubrik------------------------------------------------------------------------------------*/
    .top_bar {
        grid-column: 1 / -1;
        display: flex; 
        justify-content: flex-start; 
        gap:600px;
        align-items: center;
        position: relative;
        padding: 20px;
        background: white;
        border-radius: 5px;
    }
    .hamburger-menu2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 32px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        color: rgb(12, 12, 12);
    }
    .bar {width: 100%; height: 5px; border-radius: 2px; }
    .bar-1 { background-color: 	#5E6B7D;border: 0.2px solid black; }
    .bar-2 { background-color: #cdc8c5;border: 0.2px solid black; }
    .bar-3 { background-color: #ebdeda; border: 0.2px solid black;}
    
    .menu2 {
        max-height: 0; 
        overflow: hidden;
        position: absolute;
        top: 77px;
        left: 0;
        width: 200px;
        padding: 0px;
        flex-direction: column;
        gap: 3px;
        border-radius: 5px;
        transition: max-height 0.6s ease-out, padding 0.6s ease-out;
    }
    .menu2.open {max-height: 400px; padding: 5px; }
    .menu2 a {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        background: #E9E6E1; 
        color: white;
        padding: 2px 2px;
        border: 2px solid #5E6B7D ;
        cursor: pointer;
        border-radius: 25px; 
        text-align: center;
        font-size: 12px !important;
        text-decoration: none;
        transition: background 0.3s;
        width: 150px;
        height: 50px;
    }
    .menu2 a:hover {background: #5E6B7D;}

   

    /* Info del med bild----------------------------------------------------------------------------------------------------*/
    .info {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: inherit; 
        gap: 10px;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
    }
    #list {
        grid-column:2/5 ;
        text-align: left;
    }
    .pic {
        grid-column: 5/8;
        text-align: center;
    }
    .pic img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }

 

}




